.Container {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2%;
}

.Btn {
  width: 35%;
  margin: 0 auto;
  margin-bottom: 1.5%;
  font-size: 1.2em !important;
  background-color: #122389 !important;
  border: none !important;
}

.Btn:hover {
  opacity: 0.8;
  font-weight: bolder;
}

.Name {
  font-size: 1.5em;
  /* font-weight: bold; */
  border: 2px solid;
  border-radius: 15px;
  text-align: center;
  width: 25%;
  padding: 1%;
  margin: 0% 0% 1% 0%;
  display: inline-block;
}

.All,
.All:hover {
  color: white;
  text-decoration: none;
  display: inline;
}

.Container {
  text-align: center;
}

.Title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2%;
  border: 2px solid;
  width: 20%;
  border-radius: 15px;
  padding: 1%;
  display: inline-block;
  justify-content: center;
  margin: 2%;
}

.Links {
  color: black;
  text-decoration: none;
}

.Links:hover {
  color: #003c96;
  font-weight: bold;
}

.Container_navi {
  margin-left: 15%;
}
