.container {
  justify-content: center;
  margin-left: 3%;
}

.btn {
  margin-left: 1%;
  background-color: #122389;
  color: white;
  border-radius: 10px;
}

.info {
  margin: 1%;
}

.input {
  width: 20%;
  height: 30px;
}
