.cell {
  text-decoration: none;
  color: black;
}

.Head {
  height: 60px;
  border: 1px solid;
  font-size: larger;
  font-weight: bolder;
}

.Content {
  height: 20px;
  border: 1px solid;
  font-size: medium;
  /* border-left: none; */
  /* border-right: none; */
}

.ContentNone {
  display: none;
}

.Header {
  border: 1px solid;
  height: 60px;
  background-color: #122389;
  color: white;
}

.HeaderNone {
  display: none;
}

.Content:hover {
  cursor: pointer;
  color: white;
  /* border: 3px solid; */
  background-color: #63b4f7;
}

.Table {
  border: 1px solid;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.theader {
  background-color: #122389;
  color: white;
  font-size: 15px;
}

.Container {
  text-align: center;
  font-size: 0.8em;
}

.Title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 2%;
  border: 2px solid;
  width: 30%;
  border-radius: 15px;
  padding: 1%;
  display: inline-block;
  justify-content: center;
  margin: 2%;
}

.Btn {
  width: 10%;
  margin: 0 auto;
  font-size: 1em;
  background-color: rgb(59, 232, 255) !important;
  color: black;
  margin-bottom: 2%;
}

.Btn:hover {
  opacity: 0.8;
}

h5 {
  margin-left: 3%;
}
