
.cell{
    text-decoration: none;
    color: black;

}

.Head{
    height: 60px;
    border: 1px solid;
    font-size: larger;
    font-weight: bolder;
}

.Content{
    height:80px;
    border: 1px solid;
    font-size: larger;
}

.ContentNone{
    display: none;
}

.Header{
    border: 1px solid;
    height: 60px;
    background-color: aliceblue;
}

.HeaderNone{
    display: none;
}

.Content:hover{
    cursor: pointer;

    color: #0d6efd;
    border: 2px solid;
}

.Table{
    border: 1px solid;
    width: 100%;
    text-align: center;
}

