/* ************************** */

.Header {
  border: 1px solid;
  height: 60px;
  background-color: #122389;
  color: white;
}

.Table {
  border: 1px solid;
  /* height: min(80%, 400px); */
  height: 400px;
  text-align: center;
  margin: 0 auto;
  width: min(70%, 1200px);
}

.theader {
  background-color: #122389;
  color: white;
  font-size: 12px;
}

.Btn {
  font-size: 1em;
  background-color: #122389 !important;
  font-weight: bolder !important;
  border-radius: 13px !important;
  border: none !important;
}

.Btn:hover {
  opacity: 0.6;
}

/* 상단 제목  */
.Container {
  margin-left: 15%;
}

.Title {
  border: 2px solid;
  font-size: 1em;
  text-align: center;

  font-size: 1rem;
  margin: 1% 1% 2% 0%;
  width: 15%;
  border-radius: 15px;
  padding: 0.5%;
  display: inline-block;
  font-weight: bolder;
}

/* 네비게이션 */
.Links {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

.Links:hover {
  color: #003c96;
  font-weight: bolder;
}

/* 감시자 ID, 다운로드  */
.Content {
  border: 1px solid;
  font-size: medium;
}

.Content:hover {
  cursor: pointer;
  color: white;
  background-color: #63b4f7;
}

/* 위 두 열 제외 남은 열들 */
.ContentEx {
  border: 1px solid;
  font-size: small;
}

.Content_Downloads:hover {
  cursor: pointer;
  color: white;
  /* border: 3px solid; */
  background-color: #63b4f7;
}

/* 위 두 열 제외 남은 열들 */
.Content_Downloads {
  height: 20px;
  border: 1px solid;
  font-size: 5px;
  font-weight: bold;
  /* max-width: 10%; */
  /* border-left: none; */
  /* border-right: none; */
}

/* 로고 */
.logo {
  width: 13%;
  margin: 1% 0 0 1%;
}

/* .ttt {
  width: 100%;
} */

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}
